.container
  %h1 PROJECT_BIRD_DOG ->
  %h2 Using 'property_uk_grabber' with Evernote
  
  %table.table-hover.table-bordered
    %tr
      %th Price
      %th Evernote Title
    - @list.each do |item|
      %tr 
        %td= item[:price]
        %td=item[:title]
        



  

  
    
    
  